html, body{
    padding:0;
    margin:0;
    font-family: 'Ubuntu', sans-serif;
    font-size:15px;
    color:#333;
    background-color:#ececec;
    height:100%;
}
.container{
    position:relative;
    width:100%;
    min-height:100%;
    padding:0;
    margin:0 auto;
    max-width:1900px;
}

/* STANDARDS & FONT STYLING */
.right{
    float:right;
}
.left{
    float:left;
}
.hidden{
    display:none;
}
p{
    color:#333;
    font-size:100%;
}
h2{
    margin:5px 0;
    font-size:250%;
    font-weight:400;
}
h4{
    margin:0;
    font-size:160%;
    font-weight:200
}
.logo{
    float:left;
    height:70px;
}
a:hover{
    color:auto;
    text-decoration: none;
}


/*========================================  NAVIGATION  ==========================*/

.icon-bar{
    background-color: #009BC6 !important;

}

.nav{
    font-family: 'Ubuntu', sans-serif;
    background-color:#fff;
    padding: 10px 5%;
    overflow:auto;
    z-index:2;
    max-width:1900px;
    margin:0 auto;
}

.navbar-brand{
    height:70px !important;
}

.navbar-toggle{
    margin-top:15px !important;
}

.expanded{
    clear:left;
}


.navbar-nav{
    padding-right:10px;
}

.navbar-fixed-top{
    padding-left:20px !important;
}

.navbar-nav .active{
    background-color: #efefef !important;
}
.navbar-nav a{
    color:#333;
    font-size:100%;
    font-weight:400;
    margin:0 !important;
    padding:15px 30px !important;
}
.navbar-nav a:hover{
    background-color: #efefef !important;
}
.useraccount{
    position:absolute;
    right:5%;
    width:10%;
    text-align:right;
}
.useraccount img{
    width:30%;
    min-width:30px;
    max-width:45px;
    margin-right:20px;
}
.username{
    font-size:120%;
    color:#333;
}

/*================================== FOOTER =========================================*/
.footer{
    padding:35px 5%;
    background-color:#fff;
    overflow:auto;
}

.footer-img{
    display:block;
    width:70%;
    margin:0 auto;
}

.main{
    position:relative;
    overflow:auto;
    padding:50px 3% 70px;
    min-height:500px;
    margin-top:90px;
    background-image:url(../img/main-bg.png);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:top left;
    background-attachment: fixed;
}
.welcome{
    position:relative;
    width:50%;
    padding:0;
    margin:20px 0 150px;
    background-color:transparent;
    max-width:700px;
    color#fff;
}
.welcome h4, .welcome h2{
    color:#fff;
}
.login{
    padding:0;
}
.register{
    padding:0;
    margin-top:20px;
    position:;
    right:0
}


/*==================================== GENEREIC FORM STYLING ===============================*/
.myForm{
    width:100%;
    margin:10px 0;
}
.myForm input.text{
    width:100%;
    margin-top:15px;
    margin-bottom:10px;
    padding:10px;
    text-align: left;
}
.myForm a{
    display:;
    float:right;
    text-align: right;
    color:#fff;
    font-size: 100%;
}
.myForm a:hover{
    text-decoration: underline;
}

/*====================================  NEW IDEA FORM ========================*/

#new-idea-form{
    background-color: white;
}

/*==================================== BUTTONS ===================================*/
.register-button{
    display:block;
    width:100%;
    background-color:rgb(30,215,209);
    line-height:30px;
    padding: 5px 10px;
    margin-top:15px;
    color:#fff;
    font-size:120%;
    font-weight:500;
    border:0;
    text-align:left;
    background-image:url(../img/arrow-right-white.png);
    background-repeat:no-repeat;
    background-size:contain;
    background-position: right center;
    transition-duration: .3s;
}
.register-button:hover{
    transform:scale(0.98);
    color:#fff;
    transition-duration: .5s;
    font-size:122%;
}
.register-button img{
    width:50px;
    position:absolute;
    right:-20px;
    top:-5px;
}

.button-sq-md{
    display:block;
    margin:20px auto 0;
    width:200px;
    padding:10px 0;
    border:0;
    background-color:#7E4364;
    color:#fff;
    font-size:110%;
    font-weight:500;
    transition-duration: .3s;
    text-align:center;
    text-decoration: none;
}
.button-sq-md:hover{
    transform: scale(.97);
    transition-duration: .5s;
    text-decoration: none;
}

/*==================================== REGISTRATION PAGE ===============================*/

#register-form{
    float:none;
    margin: 0 auto !important;
    text-align: center;
    padding:20px 20px;
    background-color:#fff;
    max-width:600px;
}
#register-form h2{
    text-align: center;
    margin-bottom:30px;
}

#register-form{
    background-color: white;
}

/*==================================== SUCCEED MESSAGE PAGE =================*/

.succeed{
    float: none;
    margin:0 auto !important;
    text-align: center;
    padding: 30px 20px;
    max-width:1000px;
    background-color:#fff;
}
.succeed h2{
    margin-bottom:30px;
}

/*==================================== VALIDATION FORMS ================================*/

.form_error{
    color:red;
    font-style:italic;
}


/*====================================  Project overview page ========================*/

#overview-pagination{
    margin:0;
}

#idea-search{
    margin-left:15px;
}


.projects-holder{
    /*background-color:white;*/
}

.sorting{
    float:right;
}
.project-column{
    /*padding:5px;*/
    margin-top:20px;
}

.project-card{
    border: 1px solid black;
    background-color: white;
    min-height:160px !important;
    padding:10px;
}

.project-card img{
    box-sizing:border-box;
    max-width:25%;
    margin-right:15px;
    float:left;
}

.project-card h3{
    font-size:14px;
    font-weight:bold;
    margin: 0 0 12px;
    padding:0;
}

.project-card p {
    font-size: 12px;
}

.project-card .glyphicon-thumbs-up {
    float:right;
    cursor:pointer;
}

/*====================================  Submit idea ========================*/

#new-idea-form{
    padding:15px;
}

#new-idea-form h2{
    text-align:center;
    margin-bottom:20px;
}

#new-idea-form textarea[name="description"]{
    border:1px solid #A9A9A9;
    border-radius: 0 !important;
}
/*===================== Project details page ========================*/

.project-details h2, .project-owner h2{
    margin-bottom:30px;
}

.project-details{
    background-color:#fff;
    padding-bottom:30px;
}
.project-details img{
    width:100%; 
}

.project-owner{
    background-color:#fff;   
    padding-bottom:30px;
}
.project-owner img{
    max-width:60px;
}
.owner{
    margin: 20px 0;
    line-height:30px;
}
.project-owner button{
    margin-top:30px;
}
.project-owner .glyphicon{
    margin-right:5px;
}