<div class="footer">
    <div class="col-sm-4">
        <ul class="nav">
            <li><a href="">About Collaboration Zone</a></li>
            <li><a href="">Contact information</a></li>
            <li><a href="">Stuff people expect in the footer</a></li>
        </ul>
    </div>
            
    <div class="col-sm-4">
    </div>
            
    <div class="col-sm-4">
        <img src="../img/footer-logo.png" class="footer-img">
    </div>
</div>