<script type="text/javascript" src="../js/navigation.js"></script>

<nav class="nav navbar navbar-fixed-top">
    <a class="navbar-brand" style="padding:0;"href="../index.php"><img class="logo left" src="../img/logo.png"></a>

    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>


<div class="collapse navbar-collapse" id="main-nav">
	<ul class="nav navbar-nav">
	  <li role="presentation" id="nav-submitted-projects"><a href="submitted-projects.php">My submitted projects</a></li>
	  <li role="presentation" id="nav-idea-overview"><a href="idea-overview.php">Overview all projects</a></li>
	  <li role="presentation" id="nav-availability"><a href="availability.php">Availability</a></li>
	  <li role="presentation" id="nav-new-idea"><a href="new-idea.php">Add new idea</a></li>
	</ul>
</div>
</nav>	
	  