<nav class="nav navbar navbar-fixed-top">
    <a href="../index.php"><img class="logo left" src="../img/logo.png"></a>
    <ul class="nav navbar-nav">
        <li><a href="">Epic ideas</a></li>
        <li><a href="">Projects</a></li>
        <li><a href="">FAQ</a></li>
    </ul>
    <div class="useraccount">
        <img src="../img/user-placeholder.png"><a href="#" class="username">John Doe</a><br />
        <a href="">> Sign out</a>
    </div>
</nav>